# Default for all changes
# These are not additive. Any more specific
# line will supersede the less specific.
packages/react-app/ @dallonasnes
packages/hardhat/ @dallonasnes

# No need to review dependabot changes
*package.json
yarn.lock
